.task-item {
  margin: 1rem 0;
  background: #43768b4b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.task-item.complete {
  margin: 1rem 0;
  background: #43768b4b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: black;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: line-through;
}

.button{
  display: flex;
  flex-direction: row;
}
