.container{
  margin: auto;
  width: 65%;
  padding: 15px;
}
/* h1{
 left: -20px;
} */
h1{
  background-color: #ffffff;
  color: #000;
  display: block;
  padding: 0 0;
  font-size: 25px;
  resize: none;
  text-align: left;
}

.container #title, #description{
  display: block;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #e1e1e1;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}
