.task-item {
  margin: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  color: black;
  padding: 1rem 1rem;
  cursor: pointer;
  height: 200px;
}

.text{
  height: 80%;
}

.itemBox{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  /* flex-direction: row; */
}

.box{
  width: auto;
  border: 1px solid rgb(31, 92, 224);
  color: white;
  background: rgb(31, 92, 224);
  border-radius: 4px;
}

.btn-edit{
  background: white;
  border-radius: 4px;
  color: black;
}
