.task-item {
  margin: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  color: black;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* .task-item.complete {
  margin: 1rem 0;
  background: #43768b4b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: black;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: line-through;
} */
/* 
.button{
  display: flex;
  flex-direction: row;
} */

.box{
  width: 70px;
  border: 1px solid rgb(31, 92, 224);
  color: white;
  background: rgb(31, 92, 224);
  border-radius: 4px;
}

.btn{
  background: white;
}
