/* 
#task-form {
  width: 30rem;
  height: 50%;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
}
#tasks {
  width: 30rem;
  height: 50%;
  margin: 3rem auto;
  height: 100%;
  background-color: rgb(126, 177, 236);
}
.tasks-header{
  width: 100%;
  margin-top: -100px;
  margin-bottom: 25px;
  border: 1px solid rgb(31, 92, 224);
  background-color: rgb(31, 92, 224);
  color: white;
  padding: 10px;
  padding-left: 30px;
  border-radius: 3px;
} */

.tasks-header{
  display: block;
  padding: 25px 30px 10px 30px;
  background-color: #1972d9;
  border: #1972d9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #fff;
  font-size: 20px;
  resize: none;
}

#tasks{
  border-radius: 4px;
  background-color: #1972d9;
  color: #fff;
  font-size: 16px;
  width: 100%;
  padding-bottom: inherit;
}

.empty{
  display: block;
  padding: 15% 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #80a2d0;
  color: black;
  font-size: 16px;
  text-align: center;
}

