#tasks {
  width: 100%;
  /* max-width: 90%; */
  /* margin: 3rem auto; */
  height: 100%;
  background-color: rgb(141, 141, 221);
}
.tasks-header{
  width: 100%;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  padding: 10px;
  padding-left: 30px;
  border-radius: 3px;
}

/* #task-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #43768b4b;
} */

/* #header{
  font-weight: bold;
  display: block;
  margin-bottom: 10rem;
  color: blue;
} */

/* body {
  margin-left: 330px;
  margin-right: 211px;
  padding: 2rem;
  box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
} */
