.header {
    /* margin: 3rem auto; */
    width: 100%;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgb(31, 92, 224);
    color: white;
    background: rgb(31, 92, 224);
    border-radius: 3px;
    margin-top: -90px;
    margin-left: -39px;
}